/* VARIABLES */

:root {
  --main-font-family: "Lexend Deca", "Arial", sans-serif;
  --main-text-color: #939caa;
  --main-bg-color: #fff;
  --main-font-size: 15px;
  --main-font-weight: 400;
  --main-line-height: 25px;
}

@font-face {
  font-family: "Space Mono";
  src: url("../fonts/SpaceMono-Bold.woff2") format("woff2"),
    url("../fonts/SpaceMono-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lexend Deca";
  src: url("../fonts/LexendDeca-Regular.woff2") format("woff2"),
    url("../fonts/LexendDeca-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* GENERAL */

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  box-sizing: border-box;
}

img {
  display: block;
  height: auto;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  font-weight: var(--main-font-weight);
  line-height: var(--main-line-height);
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  overflow-x: hidden;
}

/* VISUALLY-HIDDEN */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */

.container {
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.get-scootin-btn {
  display: inline-block;
  padding: 11px 36px;
  font-family: "Space Mono";
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  border: 3px solid #fcb72b;
  background-color: #fcb72b;
  text-decoration: none;
  transition: 0.3s;
}

.learn-more-btn {
  display: inline-block;
  padding: 11px 41px;
  font-family: "Space Mono";
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  border: 3px solid #fcb72b;
  background-color: #fcb72b;
  text-decoration: none;
  transition: 0.3s;
}
.get-scootin-btn:hover,
.learn-more-btn:hover {
  color: #fcb72b;
  background-color: #fff;
  transition: 0.3s;
}

/* STICKY-FOOTER */

.site-main {
  flex-grow: 1;
}

/* FIRST PPAGE STYLE YASHNARBEK*/
.site-header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 22px;
  padding-bottom: 22px;
}

.site-header__first {
  display: flex;
  align-items: center;
}

.sitenav {
  margin-left: 60px;
}

.sitenav__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sitenav__item {
  font-family: "Space Mono";
  font-style: normal;
}

.sitenav__item:not(:last-child) {
  margin-right: 32px;
}

.sitenav__link {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  transition: 0.2s;
}

.sitenav__link:hover {
  color: #fcb72b;
  transition: 0.2s;
}

/* SECOND PAGE STYLE RASHIDBEK*/
/* TOP */
.about-top {
  background-image: url("../images/about-top-bg.jpg");
  background-color: #2f3b59;
  opacity: 0.75;
  background-position: center;
}

.about-top__inner {
  padding-top: 62px;
  padding-bottom: 82px;
}

.about-top__title {
  margin: 0;
  font-family: "Space Mono";
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: #ffffff;
}

/* ABOUT FEATURE */
.about-feature__inner {
  padding-top: 120px;
  padding-bottom: 120px;
}

.about-feature__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.about-feature__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-feature__item:nth-child(even) {
  flex-direction: row-reverse;
}

.about-feature__item:first-child::after {
  position: absolute;
  top: 0;
  left: calc(100% + 64px);
  display: inline-block;
  width: 445px;
  height: 445px;
  content: "";
  border-radius: 50%;
  background-color: #e5ecf4;
}

.about-feature__item:last-child::before {
  position: absolute;
  top: 0;
  right: calc(100% + 64px);
  display: inline-block;
  width: 445px;
  height: 445px;
  content: "";
  border-radius: 50%;
  background-color: #e5ecf4;
}

.about-feature__item:not(:last-child) {
  margin-bottom: 120px;
}

.about-feature__img {
  position: relative;
  height: 445px;
  height: 445px;
  border-radius: 50%;
}

.about-feature__info {
  position: relative;
  width: 445px;
}

.info-feature-about-first::after {
  position: absolute;
  top: 143px;
  left: 575px;
  z-index: 5;
  display: inline-block;
  width: 741px;
  height: 151px;
  content: "";
  background-image: url("../images/arrow-img.svg");
}

.info-feature-about-second::before {
  position: absolute;
  top: -100px;
  left: -1215px;
  z-index: 5;
  display: inline-block;
  width: 741px;
  height: 151px;
  content: "";
  background-image: url("../images/arrow-img.svg");
  transform: rotateX(180deg) rotateY(180deg);
}

.about-feature__title {
  margin-top: 0;
  margin-bottom: 24px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #495567;
}

.about-feature__text {
  margin: 0;
}

/* VALUE */
.value-inner {
  padding-bottom: 120px;
}

.value-title {
  margin-top: 0;
  margin-bottom: 48px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -2.14286px;
  color: #495567;
}

.value__list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.value__item {
  width: 350px;
  padding-top: 254px;
  text-align: center;
  background-image: url("../images/phone.png");
  background-position: center top 55px;
  background-repeat: no-repeat;
}

.value__item:nth-child(2) {
  background-image: url("../images/motosicle.png");
}

.value__item:last-child {
  background-image: url("../images/people.png");
}

.item-value__count {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 96px;
  height: 96px;
  margin-bottom: 32px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  border-radius: 50%;
  background-color: #fcb72b;
  color: #495567;
}

.item-value__title {
  margin-top: 0;
  margin-bottom: 27px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -1.07143px;
  color: #495567;
}

.item-value__text {
  margin: 0;
}

/* FAQS */
.faqs__inner {
  padding-bottom: 120px;
}

.faqs__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 64px;
}

.faqs__title {
  margin: 0;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1.78571px;
  color: #495567;
}

.faqs__detail-wrapper {
  width: 730px;
}

.faqs__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px 40px;
  background-color: #f2f5f9;
  transition: 0.2s;
}

.faqs__list:not(:last-child) {
  margin-bottom: 16px;
}

.faqs__list[open] .faqs__item {
  margin-bottom: 24px;
}

.faqs__list:hover {
  background-color: #fff4df;
  transition: 0.2s;
}

.faqs__item {
  position: relative;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  color: #495567;
  list-style: none;
}
.faqs__item::after {
  position: absolute;
  right: 0;
  bottom: 10px;
  display: inline-block;
  width: 18px;
  height: 13px;
  content: "";
  background-image: url("../images/arrow-triangle.svg");
  transition: 0.3s;
}

.faqs__list[open] .faqs__item::after {
  transform: rotateX(180deg);
  transition: 0.3s;
}

/* Career */
.career-top {
  background-image: url("../images/career-top-bg.jpg");
  background-position: center;
}

.career-top__inner {
  padding-top: 62px;
  padding-bottom: 82px;
}

.career-top__title {
  margin: 0;
  font-family: "Space Mono";
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: #ffffff;
}

/* Join */
.join__inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 120px;
  padding-bottom: 120px;
}

.join__inner::after {
  position: absolute;
  top: 120px;
  left: calc(100% + 64px);
  display: inline-block;
  width: 445px;
  height: 445px;
  content: "";
  border-radius: 50%;
  background-color: #e5ecf4;
}

.join__info {
  width: 445px;
}

.join__title {
  margin-top: 0;
  margin-bottom: 24px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #495567;
}

.join__text {
  margin-top: 0;
  margin-bottom: 40px;
}

.join__btn {
  padding-left: 45px;
  padding-right: 45px;
}

.join__img-wrapper {
  position: relative;
}

.join__img-wrapper::after {
  position: absolute;
  top: 307px;
  left: -135px;
  z-index: 5;
  display: inline-block;
  width: 741px;
  height: 151px;
  content: "";
  background-image: url("../images/arrow-img.svg");
  transform: rotateX(180deg);
}

.join__img {
  width: 445px;
  height: 445px;
  border-radius: 50%;
}

/* Employee */
.employee__inner {
  padding-bottom: 160px;
}

.employee__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.employee__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 64px 35px 40px;
  background-color: #f2f5f9;
}

.employee__item:not(:last-child) {
  margin-bottom: 24px;
}

.employee__info {
  display: flex;
  flex-direction: column;
}

.employee__title {
  margin-top: 0;
  margin-bottom: 8px;
  font-family: "Space Mono";
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  color: #495567;
}

.employee__text {
  margin: 0;
}

.employee__btn {
  padding-left: 65px;
  padding-right: 65px;
}

/* SIGN */
.sign {
  background-image: url("../images/sign-up-bg.jpg");
  background-position: center;
}

.sign__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 102px;
  padding-bottom: 102px;
}

.sign__title {
  margin: 0;
  width: 415px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #ffffff;
}

.sign__card-wrapper {
  display: flex;
  align-items: center;
}

.sign__card {
  display: flex;
  align-items: center;
  padding: 8px 15px;
  background-color: #e5ecf4;
  border-radius: 4px;
}

.sign__card:not(:last-child) {
  margin-right: 18px;
}

.sign__card::before {
  display: inline-block;
  margin-right: 12px;
  width: 24px;
  height: 28px;
  content: "";
  background-image: url("../images/iphone-img.svg");
}

.sign__card:last-child::before {
  background-image: url("../images/playmarket.svg");
}

.info-card__text {
  margin: 0;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: -0.446429px;
  color: #495567;
}

.info-card__title {
  margin: 0;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.892857px;
  color: #495567;
}

/* FOOTER */
.site-footer {
  background-color: #333a44;
}

.site-footer__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 35px;
  padding-bottom: 35px;
}

.site-footer__first {
  display: flex;
  align-items: center;
}

.link-footer {
  color: #939caa;
}

.social-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-item:not(:last-child) {
  margin-right: 24px;
}

.social-link {
  color: #fcb72b;
}

.social-link:hover {
  color: #e5ecf4;
}
